extends template/main

block variables
	- var title = '';
	- var description = '';
	- var keywords = '';
	- var author = '';
	- var pageClass = '';

block content

	section.download_button_screen
		.container
			#content